apiVersion: v1   # the networking component that exposes the app.
kind: Service
metadata:
  name: demo-app-service  # DNS name inside cluster
  labels:
    app: demo-app
spec:
  type: NodePort  # accessible from outside the cluster
  selector:
    app: demo-app
  ports:
  - port: 80    # Service listens on port 80
    targetPort: 5000     # Forwards to container port 5000
    nodePort: 30080     # External access via port 30080
    protocol: TCP
    name: http          # access the app at: `http://localhost:30080`
